<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    
    <!-- Gazebo Harmonic simulation  -->
    <xacro:if value="$(arg sim_mode)">
        <xacro:include filename="$(find pizibot_description)/urdf/gazebo_config.xacro" />
    </xacro:if>

    <!-- Real hardware control block -->
    <xacro:unless value="$(arg sim_mode)">
        <ros2_control name="pizibot_hardware" type="system">
            <hardware>
                <plugin>pizibot_hw_interface/PizibotHardware</plugin>
                <param name="serial_port">/dev/ttyESP32</param>
                <param name="baud_rate">115200</param>
                <param name="encoder_ppr">330</param>
                <param name="wheel_radius">${wheel_diameter/2}</param>
                <param name="wheel_separation">${wheel_separation}</param>
            </hardware>

            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-${max_wheel_velocity}</param>
                    <param name="max">${max_wheel_velocity}</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-${max_wheel_velocity}</param>
                    <param name="max">${max_wheel_velocity}</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
        </ros2_control>
    </xacro:unless>

</robot>
