<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Robot property -->
    <xacro:property name="robot_diameter" value="0.290" />
    <!-- with wheel  -->
    <xacro:property name="robot_height" value="0.103" />
    <xacro:property name="robot_mass" value="1" />

    <xacro:property name="wheel_width" value="0.04" />
    <xacro:property name="wheel_diameter" value="0.08" />
    <xacro:property name="wheel_mass" value="0.1" />
    <xacro:property name="wheel_separation" value="0.29" />
    <xacro:property name="wheel_y_offset" value="0.01969" />
    <xacro:property name="wheel_friction" value="1.0" />
    
    <!-- Max wheel velocity property in rad/s (4.6 rad/s RPM ≈ 43.93 RPM) -->
    <xacro:property name="max_wheel_velocity" value="4.6" />
    <!-- Max wheel effort in Nm -->
    <xacro:property name="max_wheel_effort" value="40" />

    <xacro:property name="caster_x_offset" value="0.09" />
    <xacro:property name="caster_diameter" value="0.016" />
    <xacro:property name="caster_mass" value="0.1" />

    <xacro:property name="ground_clearance" value="${0.057-(caster_diameter/2)}" />

    <!-- RPLIDAR A1M8 properties -->
    <xacro:property name="lidar_x_offset" value="0.055" />
    <!-- Distance from chassis origin to lidar origin on X axis -->
    <xacro:property name="lidar_diameter" value="0.098" />
    <!-- support_lidar length -->
    <xacro:property name="lidar_height" value="0.062" />
    <!-- lidar height + lidar support height -->
    <xacro:property name="lidar_mass" value="0.1" />
    <xacro:property name="lidar_update_rate" value="10" />
    <xacro:property name="lidar_samples" value="360" />
    <xacro:property name="lidar_min_range" value="0.15" />
    <xacro:property name="lidar_max_range" value="12.0" />

    <!-- Camera properties -->
    <xacro:property name="camera_z_offset" value="0.080" />
    <xacro:property name="camera_x_offset" value="${robot_diameter/2}" />
    <xacro:property name="camera_update_rate" value="15" />
    <xacro:property name="camera_horizontal_fov" value="1.089" />
    <xacro:property name="camera_image_width" value="1600" />
    <xacro:property name="camera_image_height" value="1200" />
    <xacro:property name="camera_clip_near" value="0.05" />
    <xacro:property name="camera_clip_far" value="8.0" />

    <!-- IMU properties -->
    <xacro:property name="imu_x_offset" value="-0.011" />
    <xacro:property name="imu_y_offset" value="0.100" />
    <xacro:property name="imu_z_offset" value="0.092" />
    
</robot>
