<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser_frame"/>
        <origin xyz="0 -${lidar_x_offset} ${robot_height+lidar_height}" rpy="0 0 ${pi/2}"/>
    </joint>

    <link name="laser_frame">
        <collision>
            <origin xyz="0 0 -${lidar_height/2}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${lidar_diameter/2}" length="${lidar_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="${lidar_mass}" length="${lidar_height}" radius="${lidar_diameter/2}">
            <origin xyz="0 0 -${lidar_height/2}" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <joint name="laser_visual_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser_visual"/>
        <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi}"/>
    </joint>

    <link name="laser_visual">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://pizibot_description/meshes/rplidar_a1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="gray"/>
        </visual>
    </link>

    <!-- Gazebo specific settings for the lidar -->
    <gazebo reference="laser_frame">
        <material>Gazebo/Black</material>

        <sensor name="laser" type="gpu_lidar">
            <always_on>true</always_on>
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>${lidar_update_rate}</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>${lidar_samples}</samples>
                        <min_angle>-${pi}</min_angle>
                        <max_angle>${pi}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>${lidar_min_range}</min>
                    <max>${lidar_max_range}</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>laser_frame</gz_frame_id>
        </sensor>
    </gazebo>

</robot>